.tech-interview_astound-promotion,
.tech-interview-companies,
.my-weaknesses,
.english-questions {
	display: none;
}
.nav a {
	display: inline-block;
	margin-right: 10px;
	padding: 8px 16px;
	border-radius: 4px;
	background-color: lightgray;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.nav a.active {
	background-color: gray;
	color: lightblue;
	font-weight: 600;
}
.questions-list li {
	margin-bottom: 20px;
    padding: 20px;
    background-color: #ccd4d7;
	border-radius: 6px;
	font-size: 18px;
}
.questions-list summary {
	margin-bottom: 10px;
}
.questions-list pre {
	font-size: 14px;
	color: blue;
	letter-spacing: 0.6px;
}
.questions-list b {
	font-weight: normal;
	color: #06a729;
	letter-spacing: 0.6px;
}
.caution {
	color: red;
}
